.minus-button {
    background-color: #f44242;
    color: #fcfcfc;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#minus{
  width: 1rem;
  height: 1rem;
}

