.order-button {
    background-color: #679D59;
    border: none;
    border-radius: 15px;
    width: 350px;
    height: 67px;
    color: #fcfcfc;
    font-weight: bold;
    font-size: 24px;
}

.button-text {
    display: flex;
    align-items: center;
    justify-content: center;
}