.plus-button {
    background-color: #679d59;
    color: #fcfcfc;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 2.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 

  }