@import "../pizzaContainer/PizzaContainer.scss";
@import "./../../scss/_mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;

  .toppingContainer {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    font-family: interFont;
    @include container;

    #titleText {
      margin-bottom: 1rem;
      padding: 1rem;
      @include title;
    }

    .pizzaToppings {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 1rem;
      margin-bottom: 1rem;

      h3 {
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.priceCont-2 {
  margin-left: 5rem;
}