body {
  position: relative;

  .toppingContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 70vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    #titleText {
      margin-bottom: 1rem;
    }

    .pizzaToppings {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 1rem;
      margin-bottom: 1rem;

      h3 {
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }
}
