@font-face {
  font-family: interFont;
  src: url(../../../fonts/inter.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.pizzaCont {
  width: 30%;
  height: 70%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 2.5%;
  margin-top: 10%;
  padding: 1rem;
  font-family: interFont;
}
.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}
#titleText {
  margin-left: 1rem;
}
