* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.pizzaCont {
  width: 30%;
  height: 70%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 2.5%;
  margin-top: 10%;
  padding: 1rem;
}
.divider {
  display: block;
  width: 100%;
  height: 1px; /* Adjust the height of the line */
  background-color: #ccc; /* Adjust the color of the line */
  margin: 10px 0; /* Adjust the margin above and below the line */
}
